@model IEnumerable<smART.ViewModel.Feature>
@using smART.ViewModel
@using smART.MVC.Present.Helpers

@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}

<div>
@(
    Html.Telerik().Grid<Feature>()
        .Name("Grid_Feature_List")
        .Selectable()
        .DataKeys(keys => keys.Add(key => key.ID))
            .Pageable(paging => paging.PageSize(ViewBag.PageSize)
            .Style(Telerik.Web.Mvc.UI.GridPagerStyles.NextPreviousAndNumeric)
            .Total(100))
        .DataBinding(bindings => bindings.Ajax()
            .Select("_Index", "Feature"))
        .Columns(columns => 
            {
                columns.Bound(o => o.ID).Filterable(false);
                columns.Bound(o => o.FeatureName);
                columns.Bound(o => o.ID).ClientTemplate(Ajax.ActionLink("Select", "Index", "Feature", new { id = "<#= ID #>" }, null).ToHtmlString()).Filterable(false);
            })
           .ClientEvents(events => events.OnLoad("SetDefaultFilterToContains")).Filterable()
)
</div>