@model IEnumerable<smART.ViewModel.Booking>
@using smART.ViewModel
@using smART.MVC.Present.Helpers

@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}

<div>
@(
    Html.Telerik().Grid<Booking>()
        .Name("Grid_Booking_List")
        .Selectable()
        .DataKeys(keys => keys.Add(key => key.ID))
            .Pageable(paging => paging.PageSize(ViewBag.PageSize)
            .Style(Telerik.Web.Mvc.UI.GridPagerStyles.NextPreviousAndNumeric)
            .Total(100))
        .DataBinding(bindings => bindings.Ajax()
            .Select("_Index", "Booking"))
        .Columns(columns => 
            {   
                columns.Bound(o => o.ID).Filterable(false);
                columns.Bound(o => o.Booking_Ref_No);
                columns.Bound(o => o.Booking_Status);
                columns.Bound(o => o.Sales_Order_No.ID).Title("SO#");            
                columns.Bound(o => o.Entered_Date);                
                columns.Bound(o => o.ID).Title("Select").ClientTemplate(Ajax.ActionLink("Select", "Index", "Booking", new { id= "<#= ID #>"} , null).ToHtmlString()).Filterable(false);
            })
              .ClientEvents(events => events.OnLoad("SetDefaultFilterToContains")).Filterable()
            
)
</div>