<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="businessRuleBindings" type="smART.MVC.Library.BusinessRules.BusinessRuleSection, smART.MVC.Library" />
  </configSections>

  <businessRuleBindings>
    <businessRules>
      <add key="testAdd" className="Party" eventName="Adding" methodName="Adding" type="smART.Business.Rules.Party, smART.Business" />
    </businessRules>
  </businessRuleBindings>
  
</configuration>