@{
  ViewBag.Title = "About Us";
}

<div>
<h1 class="red_head">
About us
</h1>
</div>
<br />
<div>
The RecycleSMART (Rsmart) application is designed to automate, improve and operationalize the Scrap Metal Recycling business functions.
<br />
Rsmart is for smart  users and it is  developed by a smart and  versatile team. Contact following email id for any questions/support issues.
<br />
<ul>
<li style="color:Blue;">dhiren.rsmart@gmail.com</li>
<li style="color:Blue;">vipul.rsmart@gmail.com</li>
<li style="color:Blue;">sanjeev.rsmart@gmail.com</li>
</ul> 
</div>
