@model  smART.ViewModel.ScaleAttachments 
@using smART.MVC.Present.Extensions  
 <div class="editor">  
   @Html.Partial("EditorTemplates/Attachment", Model, new ViewDataDictionary { { "ContName", "ScaleAttachments" } })
</div>
