@model  smART.ViewModel.ScaleIDCardAttachments 
@using smART.MVC.Present.Extensions  
 <div class="editor">  
   @Html.Partial("EditorTemplates/Attachment", Model, new ViewDataDictionary { { "ContName", "ScaleIDCardAttachments" } })
</div>
